/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Orbitron&family=Roboto&family=Rock+Salt&display=swap');

/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(58, 58, 58);
    color: white;
    text-align: center;
}

h1 {
    font-family: 'Rock Salt', sans-serif;
    font-size: 4rem;
    animation: headline;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin-bottom: 3rem;
}

h2 {
    margin-bottom: 1rem;
}

h4 {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: #ff3aad;
}

/* BUTTONS AND FORM */

button {
    cursor: pointer;
}

.optionBtn {
    color: white;
    background-color: rgb(58, 58, 58);
    border: none;
    font-size: 10rem;
}

input[type=radio] {
    cursor: pointer;
}

label {
    padding-right: 1rem;
}

#begin {
    font-size: 1rem;
    padding: 0.5rem;
    margin: 1rem 0rem 0rem 0rem;
}

#reset1 {
    font-size: 0.8rem;
    background-color: rgb(58, 58, 58);
    border: none;
    text-decoration: underline;
}

#reset2, #reset3, #reset4 {
    background-color: rgba(195, 25, 93);
    font-size: 2rem;
    border: none;
}

/* IDS WITHOUT BUTTON-IDS*/
#rounds {
    display: inline-flex;
    flex-direction: column;
    border: 3px solid #ff3aad;
    border-radius: 5px;
    padding: 2rem;
}

#decision {
    display: flex;
    flex-direction: column;
}

#whoWinTheRound {
    margin-top: 2rem;
    animation: headline;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}   

#decision h4 {
    margin: 2rem 0rem;
}

#totalResult, #roundNowTotal {
    display: flex;
    justify-content: center;
    font-family: 'Orbitron';
    color: #ff3aad;
    font-size: 6rem;
}

#headlineResultComp, #headlineResultUser {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

#totalResult p, #roundNowTotal p {
    padding-right: 0.5rem;
}

#win, #lose, #draw, #end, #doppelpunkt, #slash, #resultComp, #resultUser, #headlinesResults, #headlineResultUser, #headlineResultComp {
    display: none;
}

/* Banner for Winning or losing */
.banner{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    font-size: 3rem;
    height: 16vh;
    width: 100vw;
    background: rgba(195, 25, 93);
    transform: translateY(-45vh);
}

.banner span {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
}

/* Animation Headline */
@keyframes headline {
    0%, 40%, 60%, 100% {
        text-shadow: white 0 0 12px, #ff3aad 0 0 24px, #ff3aad 0 0 36px;
    }
    40%, 60% {
        text-shadow: none;
    }
}